.DS_Store
node_modules
/dist
/log
keystore.db
server/config/*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/examples/package.json
/examples/package-lock.json
/examples/yarn.lock
/examples/node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
